In [1]:
print(2 ** 3)

8

In [2]:
print("Hello" + " " + "World")

Hello World

In [4]:
a = [1, 2, 3]
print(len(a))

3

In [5]:
num = int(input("Enter the Number"))

def fact(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
  return fact
print(fact(num))

Enter the Number8
40320

In [6]:
nat_num = [i for i in range(1,11)]
print(nat_num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
numbers = [1, 2, 3, 4, 5]

sum(numbers)

15

In [11]:
string = input("Enter a string: ")
reversed_string = string[::-1]

Enter a string: suraj

In [12]:
reversed_string

'jarus'

In [14]:
string = string.sorted(reverse =True)

AttributeError: 'str' object has no attribute 'sorted'

In [15]:
string = "Suraj"
print(string[::-1])

jaruS

In [19]:
x = int(input("Enter the Number"))
for i in range(1,11):
  print(x*i)

Enter the Number9
9
18
27
36
45
54
63
72
81
90

In [20]:
vowels = "aeiouAEIOU"
string = input("Enter a string: ")
count = sum(1 for char in string if char in vowels)
print(f"Number of vowels in the string is: {count}")

Enter a string: aeiou
Number of vowels in the string is: 5

In [21]:
vowels

'aeiouAEIOU'

In [22]:
vow= "aeiou"

len(vow)

5

In [23]:
tuples = [("one", 1), ("two", 2), ("three", 3)]
print(dict(tuples))

{'one': 1, 'two': 2, 'three': 3}

In [25]:
string = input("Enter a string ")
is_palindrome = string == string[::-1]
print(f"The string is a palindrome: {is_palindrome}")

Enter a string suraj
The string is a palindrome: False

In [26]:
string = input("Enter a string ")
is_palindrome = string == string[::-1]
if is_palindrome is True:
  print("It is Palindrome")
else:
  print("It is not Palindrome")

Enter a string suraj
It is not Palindrome